.heading-rodemap h1{
    text-align: center;
    margin: 40px 0px 30px 0px;
    font-weight: bold;
}
.courses{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.rodemap img{
    width: 100%;
    border-radius: 20px;
}
.dsa, .web-dev, .android-dev{
    width: 380px;
}
.dsa{
    padding: 20px 15px;
    background-color: #ffd1e6;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;  */
}
.web-dev{
    padding: 15px;
    background-color: #f8f296;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.android-dev{
    padding: 15px;
    background-color: #bbedc2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.btns button{
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #000000;
    font-weight: bold;
    border: none;
}
.desc p{
    font-weight: 600;
    margin: 20px 2px;
}
.buttom-btn{
    display: flex;
    justify-content: center;
}
.see-all{
    margin: 25px 5px;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #000000;
    font-weight: bold;
    border: none;
}
.dsa,.web-dev,.android-dev {
    transition: transform 500ms ease-in-out; /* Apply transition to both states */
}
.dsa:hover,.android-dev:hover,.web-dev:hover {
    transform: scale(1.05);
}
